.main-div {
  margin: 20px auto;
  /* border: 1px solid beige; */
  max-width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* h2{
    color: rgb(226, 147, 43);
    animation: glow 20s linear infinite
} */
/* @keyframes text-animation {
    0%{
        text-shadow: 0 0 10px #6666ff;
    }
    10%{
        text-shadow: 0 0 8px #9098ff;
    }
    0%{
        text-shadow: 0 0 10px #00ff00;
    }
    0%{
        text-shadow: 0 0 10px #ff3399;
    }
    0%{
        text-shadow: 0 0 5px #6666ff;
    }
} */
h2{
    padding-bottom: 10px;
    background: linear-gradient(90deg, #ff8a00, #e52e71, #00c6ff);
    background-size: 200%;
    background-clip: text;
    color: transparent;
    animation: text-animation 2s infinite linear;
}
@keyframes text-animation {
    0%{
        background-position: 0%;
    }
    100%{
        background-position: 200%;
    }
}

.show-btn {
  float: right;
}
.todo-div {
  display: flex;
}
.todo {
  margin: 10px;
  padding: 10px;
  max-width: 200px;
  margin-bottom: 4px;
  text-align: center;
  border: 3px dotted rgb(116, 114, 250);
}
.todo:hover {
 color: rgb(245, 245, 245);
  background-color:  rgb(116, 114, 250);
}
.todo-tittle {
  font-size: 14px;
  font-weight: bold;
}
